################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1
/HelloWorld/DataStructures/bin/Debug/netcoreapp3.1
/HelloWorld/DataStructures/obj
/HelloWorld/Lession2-Basics/bin/Debug/netcoreapp3.1
/HelloWorld/Lession2-Basics/obj
